.header-wrapper{
  width: 100%;
  margin: 0 auto;
  height: 156px;
}

.span.link[url] {
  cursor: pointer;
}

.header__plus-wrapper{
  padding: 0 5px;
  display: 'flex';
  align-items: 'center';
}

.header-top{
  padding: 10px 15px 0;
    min-height: 45px;
    height: 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

  
.navbar-nav {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  height: 0; /* Hide the menu by default */
  overflow: hidden;
  transition: height 0.3s;
  }

  .navbar.open .navbar-nav {
    height: auto; /* Display the menu */
    flex-direction: row;
  }

  .navbar-nav .nav-item {
    margin: 0 px;
  }

  .navbar.open .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-item {
    margin: 0 15px;
    justify-self: center;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff; /* Text color for the links */
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #ff5722; /* Text color on hover */
    text-decoration: underline;
  }

  .navbar {
    background-color: #f87102;
    padding: 10px 20px; /* Increase the padding to make space for the icon */
    display: flex;
    justify-content: space-between; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    position: relative;
  }

  
  
  .burger-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1;
  }

  .open .burger-icon {
    color: #ffcc00; /* Change the color when menu is open */
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Show the burger icon when the navbar is in "open" state */
  .navbar.open .burger-icon {
    display: block;
  }
  
  /* Rotate and animate the bars to create an "X" shape for the close button */
  .navbar.open .burger-icon .bar:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .navbar.open .burger-icon .bar:nth-child(2) {
    opacity: 0;
  }
  
  .navbar.open .burger-icon .bar:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .dropdown-menu {
    display: none; /* Initially, hide the dropdown */
    position: absolute;
    top: 100%; /* Position it below the navbar */
    left: 0;
    background-color: #fff; /* Customize as needed */
    padding: 10px;
    z-index: 1; /* Ensure the dropdown is above the navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }

  .navbar.open .dropdown-menu {
    display: block;
  }

  .dropdown-item{
    list-style: none;
    border-bottom: 1px solid #555;
    padding: 10px 0;
  }

  .dropdown-item:last-child {
    border: none; /* Remove the border from the last link */
  }

  .dropdown-item-list{
    text-align: left;
  }

  .dropdown-link{
    color: #000;
    text-decoration: none;
  }

  .tire-sections {
    position: absolute;
    top: 0;
    left: 130px; /* Position the sections to the right, initially hidden */
    width: 200px;
    background-color: #fff; /* Customize as needed */
    padding: 10px;
    border-left: 1px solid #555; /* Add a border to separate sections */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  
  .tire-section {
    margin-bottom: 10px;
    border-bottom: 1px solid #555;
  }
  
  /* Show the sections when the tire link is hovered */
  .navbar .dropdown-item:hover .tire-sections {
    right: 0;
  }

  ul {
    list-style: none;
  }
 